/* -----css fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* -------------header-area-start -------------*/
.container {
    width: 80%;
    margin: 60px auto;
}

.hero-area {
    background-color: #130f40;
    border-radius: 15px;
    padding: 20px 50px 0px 50px;
    display: flex;
    color: white;
    justify-content: space-around;


}

.text-info {
    width: 40%;
    margin-top: 40px;

}

.section-title {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: capitalize;


}

.section-details {
    font-size: 14px;
    margin: 40px 0;
}

.red-button {
    padding: 10px 20px;
    background-color: #eb3b5a;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 500;

}

.fa-arrow-right-long,
.arrow {
    margin-left: 8px;
}

.banner img {
    margin-bottom: 0;
    width: 450px;
}

/*-------------- Blog-area ---------------*/
.blogs {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

}

.menu-area {
    background-color: #130f40;
    padding: 20px;
    border-radius: 9px;
    flex-basis: 24%;


}

.menu-area a {
    text-decoration: none;
    color: rgb(1, 1, 1);
    display: block;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.active {
    background-color: #eb3b5a !important;
    color: white !important;
}

.blog-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    flex-basis: 76%;
}

.blog {
    border: 1px solid gainsboro;
    border-top: none;

}

.blog-baner img {
    width: 100%;
}

.blog-detail {
    padding: 10px;


}

.blog-button {
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}


.blog-duration span {
    margin-left: 10px;
}

.blog-duration i {
    margin: 10px 5px;
}